
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/8.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Jersey 15', system-ui; 
  overflow: hidden;
}


.App-Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1; 
  overflow-y: auto; 
  padding-top: 50px; 
}



.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 1000;
  -webkit-app-region: drag; 
}

.drag-region {
  font-weight: bold;
  font-size: 28px;
  color: #674c13cb;
  -webkit-app-region: drag;
}

.window-controls {
  display: flex;
  gap: 10px;
  -webkit-app-region: no-drag;
}

.window-controls button {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.window-controls img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 1px #c2edff);
}


.pixel-frame {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.screen {
  text-align: center;
}

.user-title {
  font-size: 16px;
  color: #80b486;
  margin-bottom: 10px;
}



.floating-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.app {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall 10s linear infinite;
  opacity: 0.8;
}

.app:nth-child(1) { left: 10%; animation-delay: 0s; }
.app:nth-child(2) { left: 50%; animation-delay: 3s; }
.app:nth-child(3) { left: 80%; animation-delay: 6s; }
.app:nth-child(4) { left: 35%; animation-delay: 9s; }


@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
  }
}